
<script>(function(){try{var t=localStorage.getItem('daxi-theme');if(t!=='light'&&t!=='dark')t='dark';document.documentElement.setAttribute('data-theme',t);document.documentElement.style.colorScheme=t;}catch(e){document.documentElement.setAttribute('data-theme','dark');}})();</script>
<link rel="stylesheet" href="/static/css/daxi-theme.css?v=20260731">
<link rel="stylesheet" href="/static/css/daxi-theme-light.css?v=20260731">
<link rel="stylesheet" href="/static/css/daxi-theme-light-extended.css?v=20260732">
<link rel="stylesheet" href="/static/css/daxi-theme-light-pages.css?v=20260733">
<link rel="stylesheet" href="/static/css/daxi-theme-subpages.css?v=20260733">
<link rel="stylesheet" href="/static/css/daxi-map-theme.css?v=20260731">
<script src="/static/js/daxi-map-theme.js?v=20260731"></script>
<script src="/static/js/daxi-theme.js?v=20260731" defer></script>
