/* DAXI vubez2 remixicon subset */
@font-face{font-family:remixicon;src:url(remixicon.eot?t=1734404658139);src:url(remixicon.eot?t=1734404658139#iefix) format('embedded-opentype'),url(../fonts/remixicon.woff2?t=1734404658139) format("woff2"),url(remixicon.woff?t=1734404658139) format("woff"),url(remixicon.ttf?t=1734404658139) format('truetype'),url(remixicon.svg?t=1734404658139#remixicon) format('svg');font-display:swap}
[class*=" ri-"],[class^=ri-]{font-family:remixicon!important;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.ri-add-circle-line:before{content:"\ea11"}
.ri-arrow-down-s-line:before{content:"\ea4e"}
.ri-arrow-go-back-line:before{content:"\ea58"}
.ri-arrow-left-line:before{content:"\ea60"}
.ri-arrow-left-right-line:before{content:"\ea62"}
.ri-arrow-left-s-line:before{content:"\ea64"}
.ri-arrow-right-line:before{content:"\ea6c"}
.ri-arrow-right-s-line:before{content:"\ea6e"}
.ri-arrow-up-s-line:before{content:"\ea78"}
.ri-article-line:before{content:"\ea7e"}
.ri-briefcase-line:before{content:"\eaf5"}
.ri-building-2-line:before{content:"\eb09"}
.ri-building-4-line:before{content:"\eb0d"}
.ri-calendar-check-line:before{content:"\eb23"}
.ri-calendar-line:before{content:"\eb27"}
.ri-camera-line:before{content:"\eb31"}
.ri-car-line:before{content:"\eb39"}
.ri-chat-1-line:before{content:"\eb4d"}
.ri-chat-3-line:before{content:"\eb51"}
.ri-check-line:before{content:"\eb7b"}
.ri-checkbox-circle-fill:before{content:"\eb80"}
.ri-close-circle-fill:before{content:"\eb96"}
.ri-close-line:before{content:"\eb99"}
.ri-compass-3-fill:before{content:"\ebbd"}
.ri-compass-discover-line:before{content:"\ebc2"}
.ri-cursor-line:before{content:"\ec0a"}
.ri-customer-service-2-fill:before{content:"\ec0b"}
.ri-delete-bin-line:before{content:"\ec2a"}
.ri-download-line:before{content:"\ec5a"}
.ri-drag-move-2-line:before{content:"\ec60"}
.ri-drop-line:before{content:"\ec6a"}
.ri-edit-line:before{content:"\ec86"}
.ri-error-warning-fill:before{content:"\eca0"}
.ri-error-warning-line:before{content:"\eca1"}
.ri-eye-line:before{content:"\ecb5"}
.ri-eye-off-line:before{content:"\ecb7"}
.ri-facebook-fill:before{content:"\ecbc"}
.ri-file-copy-line:before{content:"\ecd5"}
.ri-fingerprint-line:before{content:"\ed31"}
.ri-flag-line:before{content:"\ed3b"}
.ri-flashlight-line:before{content:"\ed3d"}
.ri-flight-land-line:before{content:"\ed41"}
.ri-focus-3-line:before{content:"\ed4c"}
.ri-google-fill:before{content:"\edd4"}
.ri-group-line:before{content:"\ede3"}
.ri-home-heart-line:before{content:"\ee2a"}
.ri-image-line:before{content:"\ee4b"}
.ri-information-fill:before{content:"\ee58"}
.ri-information-line:before{content:"\ee59"}
.ri-instagram-line:before{content:"\ee66"}
.ri-landscape-line:before{content:"\ee7d"}
.ri-list-check-2:before{content:"\eeb9"}
.ri-loader-4-line:before{content:"\eec6"}
.ri-lock-unlock-line:before{content:"\eed2"}
.ri-login-box-line:before{content:"\eed4"}
.ri-logout-box-r-line:before{content:"\eeda"}
.ri-mail-line:before{content:"\eef6"}
.ri-map-2-line:before{content:"\ef06"}
.ri-map-pin-2-fill:before{content:"\ef09"}
.ri-map-pin-2-line:before{content:"\ef0a"}
.ri-map-pin-fill:before{content:"\ef13"}
.ri-map-pin-line:before{content:"\ef14"}
.ri-map-pin-user-fill:before{content:"\ef19"}
.ri-menu-line:before{content:"\ef3e"}
.ri-moon-line:before{content:"\ef75"}
.ri-navigation-fill:before{content:"\ef88"}
.ri-navigation-line:before{content:"\ef89"}
.ri-notification-3-line:before{content:"\ef94"}
.ri-pause-fill:before{content:"\efd7"}
.ri-phone-line:before{content:"\efec"}
.ri-play-fill:before{content:"\f00a"}
.ri-price-tag-3-line:before{content:"\f023"}
.ri-question-line:before{content:"\f045"}
.ri-record-circle-line:before{content:"\f05a"}
.ri-refresh-line:before{content:"\f064"}
.ri-reply-line:before{content:"\f07a"}
.ri-road-map-line:before{content:"\f08e"}
.ri-route-line:before{content:"\f09b"}
.ri-safari-line:before{content:"\f0a7"}
.ri-save-line:before{content:"\f0b3"}
.ri-search-line:before{content:"\f0d1"}
.ri-send-plane-fill:before{content:"\f0d9"}
.ri-share-box-line:before{content:"\f0f4"}
.ri-share-forward-line:before{content:"\f0fd"}
.ri-shield-check-line:before{content:"\f100"}
.ri-shield-cross-line:before{content:"\f102"}
.ri-smartphone-line:before{content:"\f15a"}
.ri-sparkling-2-fill:before{content:"\f36a"}
.ri-star-fill:before{content:"\f186"}
.ri-star-half-fill:before{content:"\f187"}
.ri-star-line:before{content:"\f18b"}
.ri-star-smile-line:before{content:"\f18f"}
.ri-steering-2-line:before{content:"\f193"}
.ri-sun-line:before{content:"\f1bf"}
.ri-taxi-fill:before{content:"\f1e9"}
.ri-taxi-line:before{content:"\f1ea"}
.ri-tiktok-line:before{content:"\f373"}
.ri-time-line:before{content:"\f20f"}
.ri-user-3-fill:before{content:"\f255"}
.ri-user-3-line:before{content:"\f256"}
.ri-user-line:before{content:"\f264"}
.ri-vip-crown-fill:before{content:"\f28d"}
.ri-vip-crown-line:before{content:"\f28e"}
.ri-whatsapp-fill:before{content:"\f2bb"}
.ri-whatsapp-line:before{content:"\f2bc"}
.ri-wifi-line:before{content:"\f2c0"}
.ri-wifi-off-line:before{content:"\f2c2"}

.ri-music-2-line:before{content:"\ef83"}
.ri-mind-map:before{content:"\ef59"}
.ri-user-voice-line:before{content:"\f27a"}
.ri-pause-circle-line:before{content:"\efd6"}
.ri-focus-2-line:before{content:"\ed4a"}
.ri-customer-service-2-line:before{content:"\ec0c"}
.ri-bookmark-line:before{content:"\eae5"}
.ri-money-dollar-circle-line:before{content:"\ef65"}
.ri-hourglass-line:before{content:"\f339"}
.ri-building-line:before{content:"\eb0f"}
.ri-discount-percent-line:before{content:"\f475"}
.ri-team-line:before{content:"\f1ee"}
.ri-contract-line:before{content:"\f433"}