# Android / Gradle
.gradle/
build/
app/build/
local.properties
*.iml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
captures/
.externalNativeBuild/
.cxx/

# Keystore (ne jamais committer)
*.jks
*.keystore
keystore.properties
!keystore.properties.example
